<% layout("/layouts/boilerplate") -%>
  <% for (let chat of chats) { %>
    <div class="chat">
      <div class="top-row">
        <p><strong>From:</strong> <i><%= chat.from %></i></p>
        <p>🕒<%= chat.Created_at.toString().split(" ")[4] %>
        &nbsp;&nbsp;📅<%= chat.Created_at.toString().split(" ").slice(0, 4).join("-") %>
        </p>
      </div>

      <div class="message">
        <p><%= chat.message %></p>
        <div>
          <form method="GET" action="/chats/<%= chat._id %>/edit">
            <button>edit</button>
          </form>
          <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
            <button>delete</button>
          </form>
          <form method="GET" action="/chats/<%= chat._id %>">
            <button>show</button>
          </form>
        </div>
      </div>

      <p><strong>To:</strong> <i><%= chat.to %></i></p>
    </div>
    <br><br>
  <% } %>

  <form class="new" method="POST" action="/chats">
    <div class="msgbox">
      <input type="text" name="from" placeholder="From">
      <input type="text" name="to" placeholder="To">
    </div>
    <div class="msgbox">
      <textarea name="message" placeholder="Write your message" rows="3"></textarea>
      <button type="submit" class="send-btn">
        <img src="https://api.iconify.design/material-symbols/send-rounded.svg?color=black" alt="Send Icon">Send
      </button>
    </div>
  </form>

